:root { 
    --fg: #c4c4c4;
    --bg: #181818;
    --bg-dark: #121212;
    --bg-light: #242424;
    --bg-hover: #2a2a2a;
    --accent: #992525;
    --font-monospace: "Hack";
}

* {
    border-radius: unset !important;
}

.friends-table, .messages-wrapper, .scroller-NXV0-d, .channel-members,
#rtc-connection, .private-channels {
    background: var(--bg) !important;
}

.header-1tSljs, .guilds-wrapper, .guild-header, .title-wrap, .private-channels .search-bar {
    background: var(--bg-dark) !important;
}

/* Search */
.search-bar, .search-result-message.hit {
    background: var(--bg-light) !important;
}

.search-results-wrap, .search-header, .search-results .channel-name {
    background: var(--bg) !important;
}

/* Popouts */
.popout .popout-menu, .search-popout, .channel-textarea-autocomplete-inner, .channel-textarea-autocomplete-inner header {
    background: var(--bg-light) !important;
    border: none !important;
    box-shadow: 4px 4px 6px rgba(0,0,0,.3) !important;
}

.userPopout-4pfA0d {
    box-shadow: 4px 4px 6px rgba(0,0,0,.3) !important;
}

.search-popout .option.selected, .userPopout-4pfA0d, .body-3rkFrF, .channel-textarea-autocomplete-inner .active {
    background: var(--bg) !important;
    border: none !important;
}

.userPopout-4pfA0d, .header-3mZJcV, .userPopout-4pfA0d .quick-message {
    background: var(--bg-dark) !important;
    border: none !important;
}

.userPopout-4pfA0d .footer-2J5zqP {
    display: none !important;
}

.avatar-1BXaQj {
    border-color: var(--accent) !important;
}

.search-popout .option::after {
    background: unset !important;
}

.member-role {
    border-width: 2px !important;
}

.member-role-add {
    background: var(--bg-light) !important;
    border: none !important;
}

/* Dividers, separators */
.divider, .divider span, .divider:before {
    background: transparent !important;
    border-style: none !important;
}

.divider-red div {
    background-color: var(--accent) !important;
    opacity: 1 !important;
    height: 2px !important;
}

.divider-red span {
    color: var(--accent) !important;
    background-color: var(--bg) !important;
    font-weight: bold !important;
}

.new-messages-bar button {
    background-color: var(--accent) !important;
    color: var(--fg) !important;
    font-weight: bold !important;
}

/* Fuck borders */
.header-1tSljs, .message-group, .guild-header header, .title-wrap, .btn-group, .btn-group > .btn,
#rtc-connection, .search-result .hit, .private-channels .search-bar {
    border-style: none !important;
    box-shadow: none !important;
}

.private-channels .search-bar {
    height: 56px !important;
}

.btn-group > .btn {
    margin-right: 10px;
}

/* Scrollbar */
::-webkit-scrollbar-track-piece,
::-webkit-scrollbar-track-piece {
    background: var(--bg) !important;
    border-color: var(--bg) !important;
}

::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb {
    background: var(--bg-light) !important;
    border-color: var(--bg) !important;
    border-radius: unset !important;
}

.scrollbar, .scrollbar > .track, .scrollbar::after,
.scrollbar-2so3Ly, .pad-3D5tOh {
    background: var(--bg) !important;
    border-color: var(--bg) !important;
}

.scrollbar > .thumb, .scrollbar > .thumb::after,
.thumb-3VsfAI {
    background: var(--bg-light) !important;
    border-color: var(--bg) !important;
    border-radius: unset !important;
}

.scrollbar {
    width: 9px !important;
}

/* Channels */
.content-2mSKOj, .containerDefault-7RImuF {
    margin-left: 0 !important;
}

.unread-23Kvxk {
    background: var(--accent) !important;
}

/* Channel hover */
.wrapperHoveredText-1PA_Uk, .contentHoveredText-2HYGIY, .private-channels .channel:hover {
    background: var(--bg-light) !important;
}

/* Current channel */
.contentSelectedText-3j5CXt, .wrapperSelectedText-31jJa8,
.private-channels .channel.selected,
.private-channels .channel.selected a,
.private-channels .channel:hover a {
    background: var(--bg-light) !important;
}

.contentSelectedText-3j5CXt:before, .private-channels .channel.selected:before {
    border-left: 4px solid var(--accent) !important;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    content: " ";
}

/* Search bullshit */
.search-result:before, .search-result:after {
    background-image: none !important;
}

/* User info */
.status, .avatarStatus-1g8f0K {
    border: 3px solid var(--bg) !important;
}

.avatar-small .status {
    width: 8px !important;
    height: 8px !important;
}

.bot-tag, .botTag-1OwMgs {
    background: var(--accent) !important;
    color: var(--fg) !important;
    font-weight: bold !important;
}

/* User profile */
#user-profile-modal .header::after,
#user-profile-modal .tab-bar-container,
#user-profile-modal .avatar-wrapper {
    background: var(--bg-dark) !important;
    border: none !important;
}

#user-profile-modal .guilds.scroller {
    background: var(--bg) !important;
}

#user-profile-modal * {
    color: var(--fg) !important;
}

#user-profile-modal .tab-bar-item.selected {
    border-bottom-color: var(--accent) !important;
}

#user-profile-modal .tab-bar-item {
    border-width: 4px !important;
}

#user-profile-modal .connected-account {
    background: var(--bg-light);
    border: none !important;
}

#user-profile-modal .section {
    border: none !important;
}

.btn.add-friend {
    background: var(--bg-light) !important;
}

.empty {
    background: var(--bg) !important;
}

.context-menu, .context-menu .item {
    background: var(--bg) !important;
    color: var(--fg) !important;
}

/* Account info */
.channels-wrap, .container-iksrDt, .btn-group > .btn, .typing {
    background: var(--bg-light) !important;
}

.container-iksrDt {
    height: 73px !important;
}

.container-iksrDt > .avatar-small {
    height: 64px !important;
    width: 64px !important;
    background-size: 64px 64px !important;
}

.container-iksrDt .status {
    height: 14px !important;
    width: 14px !important;
}

/* DM */
.private-channels .search-bar-inner {
    background: var(--bg-light) !important;
}

.friends-header {
    background: var(--bg-dark) !important;
    border: none !important;
}

#friends {
    background: var(--bg) !important;
}

#friends .friends-table * {
    border: none !important;
}

.friends-column-separator {
    visibility: hidden;
}

/* Text area */
.flex-spacer, form, .channel-text-area-default, .inner-3if5cm {
    background: var(--bg-light) !important;
    border: none !important;
}

.channel-text-area-default {
    margin-top: 10px !important;
    margin-bottom: 15px !important;
}

.typing {
    bottom: -6px !important;
}

/* Fix height in FF */
.textArea-20yzAH[style*="height: auto"] {
    height: 1.35em !important;
}


/* Separator after the upload button */
.attachButtonDivider-3tknGJ {
    visibility: hidden;
}

/* Code */
pre, code {
    background: var(--bg-light) !important;
    color: var(--fg) !important;
    font-family: var(--font-monospace) !important;
    font-size: 16px !important;
}

pre, code.inline {
    border-style: solid !important;
    border-width: 0 0 0 4px !important;
    border-color: var(--accent) !important;
}

/* Guilds */
.new-messages-indicator {
    background: var(--accent) !important;
    opacity: 1 !important;
}

.guilds .guild.selected:before, .guild.unread:before {
    background: var(--accent) !important;
    border-radius: unset !important;
}

.guild .badge, .wrapper-2x09RX {
    background-color: var(--accent) !important;
    box-shadow: none !important;
    font-weight: bold !important;
}

.friends-icon, .guild-inner, .guilds-add {
    background-color: var(--bg-light) !important;
    transition: all 0.3s ease !important;
}

.friends-icon:hover, .guild-inner:hover, .guilds-add:hover {
    background-color: var(--bg-hover) !important;
}

.guilds-add {
    border: none !important;
}

.guilds-add-inner {
    color: var(--fg);
}

/* Mentions */
.mention {
    color: var(--accent) !important;
    background-color: unset !important;
}

.mentioned .message-text {
    background: var(--bg-light) !important;
}

.mentioned .message-text::after {
    border-color: var(--accent) !important;
    border-radius: unset !important;
}

/* Voice */
.container-3lnMWU {
    border: none !important;
}

/* Emote picker */
.sprite-3pvJkd, .emojiButton-3c_qrT {
    display: none !important;
}

/* Download button */
.btn-download-apps {
    display: none !important;
}

/* The top-right "?" button */
.header-toolbar .separator + button + button {
    display: none;
    visibility: hidden;
}
